body {
    background-image: url("https://i.pinimg.com/originals/46/1d/25/461d254f8563f8945ce3a385f289df17.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Navbar css */

.navbar {
    background-image: url("https://thumbs.dreamstime.com/z/white-blue-technology-background-perspective-digitall-abstract-technology-white-blue-background-computer-generated-d-130406237.jpg");
}

/* faqs css */

.hidden {
    display: none;
    height: 80%;
    background: lightblue;
    word-wrap: break-word;
}
:checked + .hidden {
    display: block;

}
.question1 {
    margin: 25px;
    border: black 2px solid;
    width: 50%;
    background-color: darkgray;
}
label {
    font-weight: bolder;
    color: white ;
}
.question1 :hover {

}

/* Header css */

header {
    margin: 10px;
}

/* Footer starts */
footer {
    background-image: url("../images/footer hd.png");
    background-repeat: no-repeat;
    background-size: unset;
    padding: 40px 40px 40px 40px;
    box-shadow: 10px 10px 20px;
    border: 3px solid black;
    font-weight: bolder;
    margin-top: 50px;
    margin-bottom: 60px;
}

footer:hover {
    box-shadow: 20px 20px 40px;
    opacity: 0.9;
    border: 4px solid black;
}

.footername {
    display: inline;
    color: black;
}

ul {
    color: black;
}

.social {
    width: 3%;
    float: right;
    display: inline;
    padding: 10px 10px 10px 10px;
}

#contact {
    float: right;
    margin-left: 90%;
    padding-top: 20px;
    padding-right: 10px;
}

a:link#contact {
    color: black;
}

a:visited#contact {
    color: darkblue;
}

a:hover#contact {
    color: darkgreen;
}

#copy {
    color: black;
}

a:link#adress {
    color: white;
}

a:visited#adress {
    color: lightblue;
}

a:hover#adress {
    color: yellow;
}

#card {
    display: inline;
    width: 100%;
    height: 100;

}

#phonecall {
    min-height="50%";
    min-width="50";
}

.card-group {
    position: center;
}