* {font-family: 'Roboto', sans-serif;}

body {background-image: url("https://i.pinimg.com/originals/46/1d/25/461d254f8563f8945ce3a385f289df17.jpg");
background-size: cover;
background-repeat: no-repeat;}

footer {
    background-image: url("../images/footer hd.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 35px 35px 35px 35px;
    box-shadow: 10px 10px 20px;
    border: 3px solid black;
    font-weight: bolder;
    margin-top: 50px;
    margin-bottom: 50px;
}

footer:hover {
    box-shadow: 20px 20px 40px;
    opacity: 0.9;
    border: 4px solid black;
}

.footername { display: inline;
    color: black;}

ul {color: black;
}

.disclaimer {color: black;
    list-style-image: url("../images/shit.jpeg");
}

.social {width: 3%;
    float: right;
    display: inline;
    padding: 10px 10px 10px 10px;
}

#contact {float: right;
    margin-left: 90%;
    padding-top: 20px;
    padding-right: 10px;

}
a:link#contact {color: black;}
a:visited#contact {color: darkblue;}
a:hover#contact {color: darkgreen;}

#copy {color: black;
font-size: 200%;}

a:link#adress {color: black;}
a:visited#adress {color: darkblue;}
a:hover#adress {color: yellow;}

.navbar {background-image: url("https://thumbs.dreamstime.com/z/white-blue-technology-background-perspective-digitall-abstract-technology-white-blue-background-computer-generated-d-130406237.jpg");}

.content {
    box-shadow: 10px 20px 20px #888888;
    transform: rotate(-3deg);
    outline: 2px solid black;
    width: 25%;}

.content2 {
    box-shadow: 10px 20px 20px #888888;
    transform: rotate(3deg);
    outline: 2px solid black;
    width: 25%;}

.content3 {width: 40%;
}

.btn {background-image: url("../images/shitbutton.jpeg");
    background-size: cover;
    color: black;
    outline: 2px solid black;}

