/* General CSS for all pages */
* {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Girassol", cursive;
}

body {
  background-image: url("https://i.pinimg.com/originals/46/1d/25/461d254f8563f8945ce3a385f289df17.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  background-image: url("https://thumbs.dreamstime.com/z/white-blue-technology-background-perspective-digitall-abstract-technology-white-blue-background-computer-generated-d-130406237.jpg");
}

.nav-link {
  color: #191919;
}

.nav-link:hover {
  font-size: 125%;
}

html {
  scroll-behavior: smooth;
}

/* footer */
footer {
  background-image: url("https://contattafiles.s3.us-west-1.amazonaws.com/tnt14094/sC1P4hp1j96B6WB/footer%20hd%20cropped.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 35px 35px 35px;
  box-shadow: 10px 10px 20px;
  border: 3px solid black;
  font-weight: bolder;
  margin-top: 50px;
  margin-bottom: 50px;
}

footer:hover {
  box-shadow: 20px 20px 40px;
  opacity: 0.9;
  border: 4px solid black;
}

.footername {
  display: inline;
  color: black;
}

ul {
  color: black;
}

.social {
  width: 5%;
  float: right;
  display: inline;
  padding: 10px 10px 10px 10px;
  min-width: 50px;
}

#contact {
  float: right;
  margin-left: 90%;
  padding-top: 20px;
  padding-right: 10px;
}

a:link#contact {
  color: black;
}

a:visited#contact {
  color: darkblue;
}

a:hover#contact {
  color: darkgreen;
}

#copy {
  color: black;
  font-size: 150%;
}

a:link#adress {
  color: black;
}

a:visited#adress {
  color: darkblue;
}

a:hover#adress {
  color: yellow;
}

.disclaimer {
  color: black;
  list-style-image: url("https://contattafiles.s3.us-west-1.amazonaws.com/tnt14094/vEeqVDuFyZKg226/rsz_shit.png");
}

/* Dimitry Css */
.content {
  box-shadow: 10px 20px 20px #888888;
  transform: rotate(-3deg);
  outline: 2px solid black;
  width: 25%;
}

.content2 {
  box-shadow: 10px 20px 20px #888888;
  transform: rotate(3deg);
  outline: 2px solid black;
  width: 25%;
}

.content3 {
  width: 40%;
}

.button {
  background-image: url("https://contattafiles.s3.us-west-1.amazonaws.com/tnt14094/mToiP2FGtx7QmRw/brown%20button.png");
  color: wheat;
}

.buttonslideshow {  width: 35%;
  height: auto;}

.buttonslideshow:hover {
  opacity: 0.85;
}

/* end Dimitry Css */
/* Neil's CSS */
.neilsCarouselPrev {
  filter: invert(100%);
  margin-left: -10%;
}

.neilsCarouselNext {
  filter: invert(100%);
  margin-right: -10%;
}

.neilsCardImages {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

/* end Neil Css */
/* Malik Css */
.square-button {
  margin-top: 5px;
}

/* colors */
/* contact form */
.contact-form {
  margin-top: 30px;
}
.contact-form .input-block {
  background-color: rgba(255, 255, 255, 0.8);
  border: solid 1px #00aeff;
  width: 100%;
  height: 70px;
  padding: 10px;
  position: relative;
  margin-bottom: 20px;
}
.contact-form .input-block.focus {
  border: solid 1px #008bcc;
}
.contact-form .input-block.textarea {
  height: auto;
}
.contact-form .input-block.textarea .form-control {
  height: auto;
  resize: none;
}
.contact-form .input-block label {
  left: 25px;
  display: block;
  margin: 5px;
  padding-bottom: 10px;
  font-weight: 300;
  z-index: 1;
  color: #00aeff;
  font-size: 18px;
  line-height: 0px;
}
.contact-form .input-block .form-control {
  background-color: transparent;
  padding: 0;
  border: none;
  height: auto;
  position: relative;
  z-index: 2;
  font-size: 18px;
  color: #00aeff;
}
.contact-form .input-block .form-control:focus label {
  top: 0;
}
.contact-form .square-button {
  background-color: rgba(255, 255, 255, 0.8);
  color: #008bcc;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding: 0 60px;
  height: 60px;
  border: none;
  width: 100%;
}
.contact-form .square-button:hover, .contact-form .square-button:focus {
  background-color: white;
}

/* tablet and above devices */
@media (min-width: 768px) {
  .contact-wrap {
    width: 60%;
    margin: auto;
  }
}
h1 {
  color: #33beff;
  padding: 40px;
  margin: 0 0 50px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
h1 small {
  font-size: 18px;
  display: block;
  text-transform: none;
  font-weight: 300;
  margin-top: 10px;
  color: #33beff;
}

/* End Malik Css */
/* Ivo Css */
/* Prlx effect */
.parallax {
  /* The image used */
  background-image: url("../images/parallaximage.webp");
  /* Set a specific height */
  height: 700px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* faqs css */
.hidden {
  display: none;
  height: 80%;
  background: lightblue;
  word-wrap: break-word;
}

:checked + .hidden {
  display: block;
}

.question1 {
  margin: 50px;
  border: black 2px solid;
  width: 70%;
  background-color: darkgray;
  font-size: large;
}

label {
  font-weight: bolder;
  color: white;
}

#first :hover {
  cursor: pointer;
}

/* Header css */
header {
  margin: 10%;
}

/*card group */
#card {
  display: flex;
}

.card-group {
  margin: 10%;
  position: center;
  width: 80%;
  height: 100%;
}

/* end Ivo Css */

/*# sourceMappingURL=main.css.map */
